*{margin: 0;padding: 0}

html,body{
  overflow: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
}

/* centent */
#main{
  width: 100%;
  height: 100%;
  background-color: #000;
}
#list{
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
#list ul{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -80px;
  width: 120px;
  height: 160px;
  list-style: none;
  transform-style: preserve-3d;
  transform: translateZ(-2000px) rotateX(0deg) rotateY(0deg);
}
#list ul li{
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 160px;
  color: #fff;
  cursor: default;
  text-align: center;
  background: rgba(0, 127, 127, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.5);
  transition: transform 3s cubic-bezier(.94,.02,.49,.98);
}
#list ul li p:nth-child(1){
  margin-top: 5px;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0 0 20px rgba(0,255,255,0.5);
  color: rgba(255,255,255,0.7);
}
#list ul li p:nth-child(2),p:nth-child(3){
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0,255,255,0.5);
  color: rgba(255,255,255,0.75);
}
#tab{
  position: fixed;
  left: 25px;
  bottom: 25px;
  width: 500px;
  list-style: none;
}
#tab li{
  float: left;
  margin: 0 5px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgba(127,255,255,1);
  color: rgba(127,255,255,1);
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
#tab li:hover{
  background: rgba(0,127,127,0.8);
}